<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h3>Add category</h3>
<form action="/addCategory" method="post">
    <input type="text" name="name" placeholder="Input category">
    <input type="submit" value="Add">
</form>

<h3>Add city</h3>
<form action="/addCity" method="post">
    <input type="text" name="name" placeholder="Input city">
    <input type="submit" th:value="Add">
</form>

<h3>Add state</h3>
<form action="/addState" method="post">
    <input type="text" name="name" placeholder="Input state">
    <input type="submit" th:value="Add">
</form>

<h4><a href="/logout">logout</a></h4>
</body>
</html>